.header
  padding-top: 60px
  padding-bottom: 60px
  &__info
    display: flex
    align-items: center
    justify-content: space-between
    gap: 20px
  &-info
    &__about
      display: flex
      width: 773px
      justify-content: space-between
  & .circle
    margin-right: 10px
    &__color-light
      background-color: $white