html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #F6F5E9;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1040px;
  margin: auto;
}

.circle {
  width: 18px;
  height: 18px;
  background-color: #333333;
  border-radius: 50%;
  flex-shrink: 0;
}

.header {
  padding-top: 60px;
  padding-bottom: 60px;
}
.header__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-info__about {
  display: flex;
  width: 773px;
  justify-content: space-between;
}
.header .circle {
  margin-right: 20px;
}
.header .circle__color-light {
  background-color: #F0F0F0;
}

.about {
  display: flex;
}
.about__item:first-child {
  color: #333333;
  margin-bottom: 15px;
  text-transform: uppercase;
  display: block;
  text-align: left;
}
.about__link {
  text-decoration: none;
  color: #747474;
}
.about__color-default {
  color: #747474;
}
.about__color-dark {
  color: #333333;
}
.about__color-light {
  color: #F0F0F0;
}

.work-position {
  background-color: #434341;
  padding-top: 70px;
  padding-bottom: 70px;
}
.work-position__title {
  display: flex;
  align-items: end;
  justify-content: center;
  width: 100%;
  font-size: 4.75em;
  line-height: 1;
  font-weight: normal;
  color: #F0F0F0;
  text-transform: uppercase;
}

.product {
  padding-top: 20px;
  padding-bottom: 70px;
}
.product-title {
  font-weight: normal;
  font-size: 48px;
  line-height: 50px;
  color: #333333;
  margin-bottom: 50px;
  padding-top: 50px;
}
.product-title__color-light {
  color: #747474;
}
.product__site-navigation {
  display: flex;
  justify-content: space-between;
  width: 700px;
}
.product-nav {
  display: flex;
  margin-top: 40px;
}
.product-nav__link {
  text-decoration: none;
}
.product-nav__text {
  text-decoration: none;
  color: #333333;
  border-bottom: 1px solid #333333;
  margin-right: 10px;
}
.product-nav__img {
  margin-right: 40px;
}
.product__line {
  margin-top: 50px;
  position: relative;
}
.product__line hr {
  position: absolute;
  top: 0;
  right: 0;
  height: 1px;
  width: 80%;
  background-color: #333333;
  border: none;
  margin: 0;
}

.mobile-navigation {
  display: none;
}

@media (max-width: 1000px) {
  .mobile-navigation {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #434341;
  }
  .mobile-navigation__site-navigation {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.hidden-desktop {
  display: none;
}

@media (max-width: 1100px) {
  .container {
    width: 90%;
  }
  .header-navigation__site-navigation {
    width: 70%;
  }
  .site-navigation__item {
    margin-left: 10px;
  }
  .circle {
    margin-right: 20px;
  }
  .about__title {
    font-size: 3.75em;
  }
  .product__title {
    font-size: 2.375em;
  }
  .product__site-navigation {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .site-navigation {
    margin-bottom: 20px;
  }
  .hidden-mobile {
    display: none;
  }
}
@media (max-width: 1000px) {
  .header {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .header-info__about {
    display: none;
  }
  .product {
    padding-bottom: 120px;
  }
  .hidden-desktop {
    display: flex;
  }
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F6F5E9;
    border-top: 2px solid #333333;
  }
  .footer-nav {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 150px;
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 900px) {
  .about__title {
    font-size: 3.4375em;
    line-height: 1;
    text-align: left;
  }
  .product-title {
    font-size: 1.875em;
  }
}
@media (max-width: 400px) {
  .about__title {
    font-size: 2em;
  }
  .product-title {
    font-size: 1.7em;
  }
  .product__site-navigation {
    height: 370px;
  }
}/*# sourceMappingURL=style.css.map */